body{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    
}

body{ 
    background:#e9e8e8;
 }
 .navegacion{
    width: 100%;
    margin: 0;
    margin-top: 0;
    background-color: wheat;
    height: 39px;
 }
 .navegacion ul{
     list-style: none;
     

 }
 .menu > li{
     position: relative;
     display: inline-block;
     
 }
 .menu > li > a{
    display: block;
    padding: 14px 10px;
    color: #383838;
    font-family:sans-serif;
    text-decoration: none;
 }
 .menu li a:hover{
     color: #df8989; 
     transition-property: all;
     transition-duration: 1s;
    
 }
 /*Submenu*/

 .submenu{
     position: absolute;
     background-color: rgb(3, 5, 5);
     width: 110%;
     visibility: hidden;
     opacity: 0;
     transition: opacity 1.5s;
  }
  .submenu li a{
      display: block;
      padding: 15px;
      color: white;
      font-family: sans-serif;
      text-decoration: none;
  }
.menu li:hover .submenu{
      visibility: visible;
      transition-duration: 2s;
      opacity: 1;
  }

   /*lo demas*/

   
.encabezado, .contenido, .contenido-lateral, .contenido-lateral2, .pie-pagina, .pie-pagina2{
    padding: 1em 2em; 
 }
 .contenido, .contenido-lateral, .contenido-lateral2, .pie-pagina, .pie-pagina2{
     float: left;
     box-sizing: border-box;
 }
 .encabezado {
     background-color: #e9e8e8;
     padding: 0.5px 0px;
     font-size: 20px;
     text-align: right;
    width: 100%;


 }
.encabezado{
    position:relative;      
    -webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
    -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
     box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
    }


 .contenido{
     width: 65%;
     position: relative;
     margin: 10px auto;
 }
.contenido:before, .contenido:after{
                /* no aplica contenidos */
                content:"";
    position:absolute;
                /* posiciona la sombra por detras de la caja */
    z-index:-1;
                /* aplica una sombra centrada con un gris oscuro y 20px de difuminado */
    -webkit-box-shadow:0 0 5px #777;
    -moz-box-shadow:0 0 5px #777;
    box-shadow:0 0 5px #777;
                /* centra verticalmente y separa la sombra de los bordes izquierdo y derecho */
    top:0;
    bottom:0;
    left:10px;
    right:10px;
                /* redondea las esquinas de la sombra */
   /* -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;*/
}





.contenido-lateral {
    width: 30%;
    background-color: #e9e8e8;
    height: 101%;
    padding: 0px 0px 0px 0px 15px;
    text-decoration: none;
}

.contenido-lateral2 {
    width: 5%;
    background-color: #e9e8e8;
    height: 101%;
    padding: 0px 0px 0px 0px 15px;

}
.informacion {
    background-color:#e9e8e8;
    height: 100px;
    margin: 0%;
     
}
.pie-pagina {
    background-color: rgb(25, 59, 59);
    width: 100%;
    height: 100px;
    color: rgb(136, 132, 132);
    font-style: italic;
    font: 15px "Open Sans";
    
}
/*.pie-pagina2 {
    background-color: rgb(25, 59, 59);
    width: 50%;
    height: 100px;
    color: rgb(136, 132, 132);
    font-style: italic;
    font: 15px "Open Sans";*/

}
.xD1, .xD2 { text-decoration: underline;}
.h{
    color: #dfb389;
}
.v {color: rgb(68, 145, 138);

}



@media all  and (max-width:768px) {
    /* For mobile phones: */
    .encabezado, .contenido-lateral,{
      width: 100%;
    }
    .contenido{
        width: 100%;
    }
    .pie-pagina{
width: 100%;
    }
    .pie-pagina2 {
        width: 100%;
    }
}